.nav {
    grid-area: n;
    background-color: #2a2828;

}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav ul li {
    margin-bottom: 10px;
}

.nav ul li:nth-child(5) {
    margin-bottom: 30px;
    margin-top: 30px;
}

.nav ul li:last-child {
    margin-bottom: 0;
    margin-top: 100px;
}

.nav ul li:hover a {
    background-color: #3d3939;
    cursor: pointer;
}

.nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 8px;
    transition: all linear .1s;
    border-radius: 5px;
}

.nav ul li a.active {
    background-color: #3d3939;
}

.friend_header {
    font-size: 30px;
}

.friend_avas {
    display: flex;
    max-width: 235px;
    margin-top: 15px;
    flex-wrap: nowrap;
}

.friend_ava {
    flex: 0 1 33%;
    margin-right: 20px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.friend_ava span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend_ava:last-child {
    margin-right: 0;
}

.friend_ava img{
    width: 50px;
    margin: 0 auto;
}
