.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form_field:nth-child(1) {
    margin-top: 20px;
}

.form_field input {
    width: 250px;
    background-color: #5b5151;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    outline: none;
    padding: 10px;
    resize: none;
}

.form_field label {
    font-size: 20px;
}


.checkbox {
    flex-direction: row;
}

.checkbox input {
    width: auto;
    margin-right: 15px;
}

.form button {
    width: 15%;
    background-color: #5e5757;
    border: none;
    padding: 8px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    transition: all linear .1s;
    margin-top: 25px;
}

.form button:hover {
    cursor: pointer;
    background-color: #4d4646;
}

.form button:disabled {
    cursor: not-allowed;
    background-color: rgba(33, 32, 32, 0.87);
    color: #3b3f4c;
}

.form span {
    border: 1px solid #9e9c9c;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 10px;
    transition: 0.1s all linear;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
}

.form span:hover {
    cursor: pointer;
    background-color: #5b5151;
}

.form_error {
    color: red;
    font-size: 20px;
    margin: 20px 0;
}

.captcha {
    margin-bottom: 20px;
}