.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
    grid-gap: 20px ;
    height: 100%;
}

.dialogs_elems {
    padding-right: 10px;
    border-right: 1px #7a7272 solid;
}

.message_field {
    display: flex;
    align-items: center;
}

.message_field textarea {
    flex: 0 1 85%;
    height: 100px;
    margin-right: 20px;
    background-color: #5b5151;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    outline: none;
    padding: 10px;
    resize: none;
}

.message_btn {
    flex: 0 1 15%;
    padding: 8px;
}

.message_field_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.error {
    margin-top: 20px;
    font-size: 20px;
    color: red;
}