.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px ;
}

.dialogs_items {

}

.dialog {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.dialog:last-child {
    margin-bottom: 0;
}

.dialog.active {
    background-color: #5e5757;
}

.messages {

}
.message {
    margin-bottom: 20px;
}

.message:last-child {
    margin-bottom: 0;
}